page-setup {
	.setup {
		& > .scroll-content {
			padding: $content-padding!important;
			display: flex;
			align-items: center;
			flex-direction: column;
		}

		&-icon {
			display: block;
			fill: map-get($colors, light);
			height: auto;
			margin: $content-padding auto;
			width: 72%;
		}

		&-input-container {
			background: map-get($colors, light);
			padding: $content-padding/3 $content-padding;
			border-radius: 4px;
			width: calc(100% - 20px);

			.col {
				padding: 0;
			}

			.col-left,
			.col-right {
				flex-shrink: 1;
				flex-grow: 0;
			}

			.col-middle {
				flex-grow: 1;
				flex-shrink: 0;
			}

			.label-start {
				margin-right: 2.5px;
			}

			.label-end {
				margin-left: 0;
				margin-right: 0;
				text-align: right;
			}
		}

		&-input {
			&::-webkit-input-placeholder,
			&::-moz-placeholder,
			&::-ms-input-placeholder,
			&::-moz-placeholder {
				color: map-get($colors, primary);
			}
		}

		&-content {
			border-bottom: 1px dotted rgba(map-get($colors, light), .2);
			border-top: 1px dotted rgba(map-get($colors, light), .2);
			margin-bottom: $content-padding;
			margin-top: $content-padding/1.5;
			padding-left: $content-padding;
			padding-right: $content-padding;
			font-size: 3.2vmin;
			line-height: 1.2;
			letter-spacing: .35px;
		}
	}
}
