# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# Node Modules
node_modules
www
.idea
.temp
.tmp
.sass-cache
bower_components
coverage
platforms
plugins
*.swp
*.swo
*.log
*.DS_Store
app/scripts/configuration.js

# Arduino
credentials.ino
