page-settings {
	.centered {
		.scroll-content {
			display: flex;
			flex-flow: column;
			align-content: center;
			align-items: center;

			.offline-icon {
					display: block;
					margin-top: auto;
					width: 100%;
			}

			>:last-child {
				margin-bottom: auto;
			}
		}
	}
}
