// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
	font-family: 'HK Grotesk Regular';
	src: url('../assets/fonts/hk-grotesk/HKGrotesk-Regular.eot');
	src: local('☺'),
				url('../assets/fonts/hk-grotesk/HKGrotesk-Regular.woff2') format('woff2'),
				url('../assets/fonts/hk-grotesk/HKGrotesk-Regular.woff') format('woff'),
				url('../assets/fonts/hk-grotesk/HKGrotesk-Regular.eot') format('eot')
}

@font-face {
	font-family: 'HK Grotesk Regular';
	src: url('../assets/fonts/hk-grotesk/HKGrotesk-SemiBold.eot');
	src: local('☺'),
				url('../assets/fonts/hk-grotesk/HKGrotesk-SemiBold.woff2') format('woff2'),
				url('../assets/fonts/hk-grotesk/HKGrotesk-SemiBold.woff') format('woff'),
				url('../assets/fonts/hk-grotesk/HKGrotesk-SemiBold.eot') format('eot')
}

@font-face {
	font-family: 'HK Grotesk Bold';
	src: url('../assets/fonts/hk-grotesk/HKGrotesk-Bold.eot');
	src: local('☺'),
				url('../assets/fonts/hk-grotesk/HKGrotesk-Bold.woff2') format('woff2'),
				url('../assets/fonts/hk-grotesk/HKGrotesk-Bold.woff') format('woff'),
				url('../assets/fonts/hk-grotesk/HKGrotesk-Bold.eot') format('eot')
}

@font-face {
	font-family: 'HK Grotesk Light';
	src: url('../assets/fonts/hk-grotesk/HKGrotesk-Light.eot');
	src: local('☺'),
				url('../assets/fonts/hk-grotesk/HKGrotesk-Light.woff2') format('woff2'),
				url('../assets/fonts/hk-grotesk/HKGrotesk-Light.woff') format('woff'),
				url('../assets/fonts/hk-grotesk/HKGrotesk-Light.eot') format('eot')
}

.content-ios,
.content-md,
.content-wp {
	background-color: map-get($colors, secondary);
}

ng-component {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: map-get($colors, light);
		font-family: 'HK Grotesk Bold', 'Helvetica', 'sans-serif';
		font-weight: 900;
		line-height: 1.3;
		margin: 0;
		text-shadow: map-get($colors, secondary);
		letter-spacing: .3px;
		text-transform: uppercase;
	}

	h1 {
		color: map-get($colors, button);
		font-size: 7vmin;
	}

	h2 {
		font-size: 5vmin;
		font-family: 'HK Grotesk Light', 'Helvetica', 'sans-serif';
		font-weight: 100;
	}

	.show-menu {
		.content-ios {
			background-color: map-get($colors, white);
		}
	}
}

.setup {
	& > .scroll-content {
		padding: $content-padding!important;
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	&-icon {
		display: block;
		fill: map-get($colors, light);
		height: auto;
		margin: $content-padding auto;
		width: 72%;
	}

	&-input-container {
		background: map-get($colors, light);
		padding: $content-padding/3 $content-padding;
		border-radius: 4px;
		width: calc(100% - 20px);

		.col {
			padding: 0;
		}

		.col-left,
		.col-right {
			flex-shrink: 1;
			flex-grow: 0;
		}

		.col-middle {
			flex-grow: 1;
			flex-shrink: 0;
		}

		.label-start {
			margin-right: 2.5px;
		}

		.label-end {
			margin-left: 0;
			margin-right: 0;
			text-align: right;
		}
	}

	&-input {
		&::-webkit-input-placeholder,
		&::-moz-placeholder,
		&::-ms-input-placeholder,
		&::-moz-placeholder {
			color: map-get($colors, primary);
		}
	}

	&-content {
		border-bottom: 1px dotted rgba(map-get($colors, light), .2);
		border-top: 1px dotted rgba(map-get($colors, light), .2);
		margin-bottom: $content-padding;
		margin-top: $content-padding/1.5;
		padding-left: $content-padding;
		padding-right: $content-padding;
		font-size: 3.2vmin;
		line-height: 1.2;
		letter-spacing: .35px;
	}
}

.success {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	width: auto;
	right: 0;
}
